@keyframes showText {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.terminal.dark {
  background-color: #211830;
  .group-btns {
    button {
      a {
        color: white;
      }
    }
  }
}
.terminal.white {
  background-color: white;
  .group-btns {
    button {
      a {
        color: black;
      }
    }
  }
}
.terminal {
  transition: 0.6s all ease;
  .cyan {
    color: #22b1ad;
  }
  .red {
    color: #dd115f;
  }
  .lighten-purple {
    color: #372c5c;
  }
  .purple {
    color: #7e12ca;
  }
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 100vh;
  max-width: 100%;
  padding: 10px;
  .terminal-label {
    .label-run {
      margin-bottom: 5px;
      display: flex;
      .name {
        margin-left: 10px;
      }
    }
    .ascii-text {
      width: 0%;
      display: block;
      overflow: hidden;
      animation: 2s showText;
      width: 100%;
    }
  }
  .terminal-content {
    .instruction {
      border: 1px solid #f77afe;
      border-style: dashed;
      margin-bottom: 10px;
      padding: 5px;
      h1 {
        font-size: 16px;
        font-weight: 400;
        color: #e11a1a;
      }
      .features {
        .feature-wrap {
          margin-bottom: 5px;
          display: flex;
          .feature-name {
            color: #7e12ca;
            margin-right: 60px;
            width: 110px;
            max-width: 110px;
          }
          .feature-desc {
            max-width: 400px;
            font-weight: lighter;
          }
        }
      }
    }
    .info {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 425px;
      h2 {
        font-size: 16px;
        font-weight: 400;
        color: brown;
      }
      .skills-short {
        margin: 0;
      }
    }
    .terminal-input {
      .path {
        white-space: nowrap;
      }
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      align-items: center;
      input {
        width: 90%;
        background: transparent;
        border: none;
        color: #22b1ad;
        outline: none;
        &:disabled {
          width: auto;
        }
      }
    }
    .group-btns {
      margin-top: 10px;
      margin-bottom: 10px;
      button {
        background: transparent;
        border: 1px solid #22e2d9;
        a {
          text-decoration: none;
        }
      }
    }
    .command-text {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .help {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      .help-text {
        margin-bottom: 5px;
        display: flex;
        .name-help {
          margin-right: 60px;
          width: 50px;
          max-width: 50px;
          cursor: pointer;
        }
        .desc-help {
          max-width: 267px;
          cursor: pointer;
        }
      }
    }
  }
  @media screen and(max-width: 1000px) {
    .ascii-text {
      font-size: 11px;
    }
  }
  @media screen and(max-width: 800px) {
    .ascii-text {
      font-size: 7px;
    }
  }
  @media screen and(max-width: 500px) {
    .ascii-text {
      font-size: 4px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .name-help {
      float: none;
      width: 100% !important;
    }
    .feature-wrap {
      .feature-name {
        margin-right: 30px !important;
      }
    }
  }
  @media screen and(max-width: 270px) {
    .feature-name,
    .name-help {
      margin-right: 10px !important;
      overflow-wrap: break-word;
    }
  }
  @media screen and(max-width: 250px) {
    .help,
    .help-text,
    .feature-wrap {
      display: block !important;
    }
    .desc-help,
    .feature-desc {
      overflow-wrap: break-word;
    }
  }
}

@media screen and(max-width: 250px) {
  #root {
    overflow: hidden;
    .container {
      padding: 0px !important;
    }
  }
}
