@keyframes showText {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.terminal {
  .cyan {
    color: #22b1ad;
  }
  .red {
    color: #dd115f;
  }
  .lighten-purple {
    color: #372c5c;
  }
  .purple {
    color: #7e12ca;
  }
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #211830;
  min-height: 100vh;
  width: 100%;
  padding: 10px;
  .terminal-label {
    .label-run {
      margin-bottom: 5px;
      display: flex;
      .name {
        margin-left: 10px;
      }
    }
    .ascii-text {
      width: 0%;
      display: block;
      overflow: hidden;
      animation: 2s showText;
      width: 100%;
    }
  }
  .terminal-content {
    .info {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 425px;
    }
    .terminal-input {
      .path {
        white-space: nowrap;
      }
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      align-items: center;
      input {
        width: 90%;
        background: transparent;
        border: none;
        color: #22b1ad;
        outline: none;
        &:disabled {
          width: auto;
        }
      }
    }
    .group-btns {
      margin-top: 10px;
      margin-bottom: 10px;
      button {
        background: transparent;
        border: 1px solid #22e2d9;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    .help {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      ul {
        margin: 0;
        margin-right: 60px;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 5px;
        }
      }
    }
  }
}
